.header{
    width: 100%;
    height: 50px;
    background-color: white;
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.styleTextTitle{
    font-family: "Javanese Text";
    font-size: 30px;
    color: dimgray;
    font-weight: bolder;
}
.textTitlePosition{
    display: grid;
    place-items: center;
    margin-top: -30px;

}

.userLogo{
    display: grid;
    position: relative;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 5px;
}

.userLogoImg{
    height: 40px;
    width: 40px;
    border-radius: 40px;
}

.addBoardButton{
    display: grid;

    height: 43px;
    width: 200px;
    background-color: white;
    margin: 3px;
    border: 1px solid;
    border-radius: 10px;
    border-style: wave;
    border-width: revert;
}

.textaddBoardButton{
    font-family: "Javanese Text", emoji;
    font-size: 15px;
    font-size: large;
    position: relative;
    margin-top: 3px;
}

.nav{
    width: 150px;

    position: absolute;
    top: 30px;
    right: 10px;

    background-color: white;
    border-color: dimgray;
    border-style: solid;
    border-width: 2px;
    text-align: center;

    border-radius: 10px;
    padding: 5px;
}

.navText{
    font-family: "Javanese Text";
    font-size: 100%;
    font-size: larger;
    color: dimgray;

}

.hrStyle{
    margin: 20px 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 2px dotted #ddd;
}

