body{
    background-color: bisque;
}

.Header{
    height: 50px;
    background-color: white;
    margin-bottom: 20px;
}

.Card{
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    cursor: move;
    border: 1px solid #d3d3d3;

}

.Canvas{
    border-radius: 20px;
    background-color: aliceblue;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 600px;
}

.User .logo{
    align-items: center;
}

.User #picture{
    height: 40px;
    width: 40px;
    border-radius: 5px;
}
